@import "tailwindcss";

/* Scrollbar hide styles */
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  .scrollbar-hide::-webkit-scrollbar { 
    display: none; /* Chrome/Safari */
  }
}

/* Product styles */
@layer components {
  .product-root {
    @apply flex flex-col bg-gray-100 m-2 mx-4 rounded-md space-y-2 items-center justify-center shadow;
  }
  .product-trending {
    @apply h-50 w-40;  /* Fixed h-50 → h-[200px] */
  }
  .product-normal {
    @apply h-70 w-48;  /* Fixed h-70 → h-[280px] */
  }
  .product-img-trending {
    @apply w-20 h-20 object-contain;
  }
  .product-img-normal {
    @apply w-32 h-32 object-contain;
  }
  .product-buy-btn {
    @apply bg-white text-sm text-blue-600 border border-blue-600 rounded px-2 py-1 hover:bg-blue-600 hover:text-white transition-colors duration-300 w-max;
  }
}

/* Product list styles */
@layer components {
  .productlist-wrapper {
    @apply w-full overflow-x-auto;
  }

  .productlist-container {
    @apply flex w-max py-2 bg-white items-center justify-start gap-4;
  }
}

/* Carousel styles */
@layer components {
  .carousel-wrapper {
    @apply w-full overflow-hidden;
  }

  .carousel-track {
    @apply flex transition-transform duration-500 ease-out;
  }

  .carousel-product {
    @apply w-full shrink-0 flex justify-center items-center;
  }

}